#!/bin/bash
# export LOG_LEVEL=DEBUG
export TZ=America/Los_Angeles
export LOG_LEVEL=INFO

# 3rd-party API Tokens
export DISCORD_TOKEN=
export TMDB_KEY=
export NASA_TOKEN=
export GIT_TOKEN=
export GOOGLE_API_KEY=
export GOOGLE_CX=
export WOLFRAM_ALPHA_ID=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=

# Mysql DB Creds
export DB_SEED_FILEPATH=./data/seed-db.sql
# Uncomment next line to run mysql in docker
export DB_HOST=host.docker.internal
# Uncomment next line to run mysql in kubernetes
# export DB_HOST=mysql-service.agimus.svc.cluster.local
export DB_NAME=FoD
export DB_PASS=password
export DB_USER=root
export DB_DUMP_FILENAME=bot-dump.sql
export DB_CONTAINER_NAME=fodmysql
export DB_BACKUP_DEPLOY_KEY=Tm90IGFjdHVhbGx5IGEgcHJpdmF0ZSBrZXkuLi4g8J+ZhAo=
export DB_BACKUP_SUB_DIR=agimus
export DB_BACKUP_GITHUB_USER=
export DB_BACKUP_GITHUB_EMAIL=
export S3_BUCKET_NAME=aggy-brain-backups

# Path to configuration json
export BOT_CONTAINER_NAME=agimus
export BOT_CONFIGURATION_FILEPATH=./configuration.json
export BOT_LOCAL_CONFIGURATION_FILEPATH=./local-config.json
