version: "3.8"
services:
  app:
    image: ${BOT_CONTAINER_NAME:-agimus}:${BOT_CONTAINER_VERSION:-latest}
    ports:
      - "7890:7890"
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/bot
    working_dir: /bot
    # To prevent agimus from starting up in the docker container, uncomment the entrypoint sleep override. Useful when applying multiple migrations or db backup/restores.
    # entrypoint: ["sleep", "3600"]
    restart: on-failure
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - db
  db:
    image: mysql:latest
    environment:
      - MYSQL_DATABASE=${DB_NAME:-FoD}
      - MYSQL_ROOT_PASSWORD=${DB_PASS:-password}
    ports:
      - 3306:3306
    volumes:
      - my-datavolume:/var/lib/mysql
volumes:
  my-datavolume:
