aiodns==3.1.1
aiohttp==3.9.1
aiosignal==1.3.1
APScheduler==3.10.4
async-timeout==4.0.3
attrs==21.4.0
beautifulsoup4==4.12.2
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
chardet==4.0.0
charset-normalizer==2.1.1
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
docopt==0.6.2
et-xmlfile==1.1.0
feedparser==6.0.11
fonttools==4.47.0
frozenlist==1.4.1
fuzzywuzzy==0.18.0
google-api-core==2.15.0
google-api-python-client==2.111.0
google-auth==2.25.2
google-auth-httplib2==0.2.0
googleapis-common-protos==1.62.0
httplib2==0.22.0
huesdk==1.7
humanize==4.9.0
idna==3.6
ifaddr==0.2.0
jaraco.context==4.3.0
kiwisolver==1.4.5
Levenshtein==0.23.0
matplotlib==3.8.2
more-itertools==8.14.0
multidict==5.2.0
mysql-connector-python==8.2.0
num2words==0.5.13
numpy==1.26.2
openai==0.28.1
openpyxl==3.1.2
packaging==21.3
pandas==2.0.3
pandas-stubs==2.0.1.230501
pilgram==1.2.1
Pillow==8.4.0
prettytable==3.9.0
protobuf==4.21.12
py-cord @ git+https://github.com/Pycord-Development/pycord@8af8454a5befbdd6589d24016dcc7bfee252de0b
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycares==4.4.0
pycparser==2.21
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
rapidfuzz==3.6.1
requests==2.31.0
rsa==4.9
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.3.2.post1
tabulate==0.9.0
tmdbsimple==2.9.1
tqdm==4.66.1
treys==0.1.8
trivia.py==1.0.8
types-pytz==2023.3.1.1
typing_extensions==4.5.0
tzdata==2023.4
tzlocal==4.3.1
uritemplate==4.1.1
urllib3==1.26.18
wcwidth==0.2.12
websockets==10.4
wolframalpha==5.0.0
wordcloud==1.9.3
xmltodict==0.13.0
yarl==1.9.4
zeroconf==0.131.0